.reports {
    margin-top: 10px;
    width: 640px;
    height: 315px;
    padding: 20px;
    margin-left: 20px;
    background: #F4F4F4
}

.report-contents {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 10px;
    margin: 10px;
}

.report-text {
    font-family: sans-serif;
    color: #3E3E3E;
    font-weight: 600;
}

.report-img1 {
    color: #3E3E3E;
    font-Weight: 400;
    font-size: 14px;
    margin: 40px;
}

.report-img2 {
    color: #3E3E3E;
    font-Weight: 400;
    font-size: 14px;
    margin: 50px;
}

.activity-rep {
    margin-top: 10px;
    margin-left: 50px;
    width: 640px;
    height: 315px;
    background-color: #F4F4F4
}

.activity-content {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 10px;
    margin: 10px 0;
}

.activity-text {
    font-family: sans-serif;
    color: #3E3E3E;
    font-weight: 600;
}

.exercise-cal {
    height: 93px;
    width: 265px;
    background: #709dbb33;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.texts {
    font-weight: 600;
    font-size: 16px;
    color: #3E3E3E;
    padding-left: 5px;
}

.calories-cal {
    height: 93px;
    width: 545px;
    background: #709dbb33;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.exercisess {
    margin-top: 10px;
    height: 315px;
    padding: 20px;
    margin-left: 20px;
    background: #F4F4F4;
}

.erxercises-contents {
    background: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.exercises-text {
    font-family: sans-serif;
    color: #3E3E3E;
    font-weight: 600;
}